<a href="https://colab.research.google.com/github/ParichayaHongthongkum/DWDM21/blob/main/Data_Preprocessing(Chapter_3).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [33]:
import pandas as pd

In [34]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [35]:
import os

In [36]:
path = '/content/drive/My Drive/DWDM2021_DATA' #ชื่อ path ชี้ไปไฟล์ที่เราต้องการ
data_cases = pd.read_csv(os.path.join(path,'confirmed-cases.csv'))
data_cases #มีบอกว่าดาต้ามีกี่แถวกี่หลัก

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
633279  633280      2/8/2021  ...     กรุงเทพมหานคร               NaN
633280  633281      2/8/2021  ...     กรุงเทพมหานคร               NaN
633281  633282      2/8/2021  ...     กรุงเทพมหานคร               NaN
633282  633283      2/8/2021  ...     กรุงเทพมหานคร               NaN
633283  633284      2/8/2021  ...     กรุงเทพมหานคร               NaN

[633284 rows x 11 columns]

## Meta Data (Data ที่ใช้อธิบาย Data)

In [37]:
data_cases['risk']

0         คนต่างชาติเดินทางมาจากต่างประเทศ
1         คนต่างชาติเดินทางมาจากต่างประเทศ
2         คนต่างชาติเดินทางมาจากต่างประเทศ
3         คนต่างชาติเดินทางมาจากต่างประเทศ
4         คนต่างชาติเดินทางมาจากต่างประเทศ
                        ...
633279                    ทัณฑสถาน/เรือนจำ
633280                    ทัณฑสถาน/เรือนจำ
633281                    ทัณฑสถาน/เรือนจำ
633282                    ทัณฑสถาน/เรือนจำ
633283                    ทัณฑสถาน/เรือนจำ
Name: risk, Length: 633284, dtype: object

In [38]:
data_cases['risk'][678]

'สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้'

In [39]:
data_cases[['age','risk','sex']]

       age                              risk   sex
0       61  คนต่างชาติเดินทางมาจากต่างประเทศ  หญิง
1       74  คนต่างชาติเดินทางมาจากต่างประเทศ  หญิง
2       73  คนต่างชาติเดินทางมาจากต่างประเทศ  หญิง
3       68  คนต่างชาติเดินทางมาจากต่างประเทศ   ชาย
4       66  คนต่างชาติเดินทางมาจากต่างประเทศ  หญิง
...     ..                               ...   ...
633279  38                  ทัณฑสถาน/เรือนจำ   ชาย
633280  38                  ทัณฑสถาน/เรือนจำ  หญิง
633281  39                  ทัณฑสถาน/เรือนจำ  หญิง
633282  36                  ทัณฑสถาน/เรือนจำ  หญิง
633283  30                  ทัณฑสถาน/เรือนจำ  หญิง

[633284 rows x 3 columns]

### ชี้แบบ .iloc[] (มองข้อมูลเป็น Matrix)

In [40]:
data_cases.iloc[678,8]

'สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้'

In [41]:
data_cases.iloc[-10:,4:9:2]

       age nationality              risk
633274  37         NaN  ทัณฑสถาน/เรือนจำ
633275  38         NaN  ทัณฑสถาน/เรือนจำ
633276  31         NaN  ทัณฑสถาน/เรือนจำ
633277  53         NaN  ทัณฑสถาน/เรือนจำ
633278  42         NaN  ทัณฑสถาน/เรือนจำ
633279  38         NaN  ทัณฑสถาน/เรือนจำ
633280  38         NaN  ทัณฑสถาน/เรือนจำ
633281  39         NaN  ทัณฑสถาน/เรือนจำ
633282  36         NaN  ทัณฑสถาน/เรือนจำ
633283  30         NaN  ทัณฑสถาน/เรือนจำ

In [42]:
data_cases.iloc[-10:,[3,4,8]] #-10 ย้อนหลัง 10 ข้อมูล #sex #age #risk

         sex age              risk
633274   ชาย  37  ทัณฑสถาน/เรือนจำ
633275   ชาย  38  ทัณฑสถาน/เรือนจำ
633276  หญิง  31  ทัณฑสถาน/เรือนจำ
633277  หญิง  53  ทัณฑสถาน/เรือนจำ
633278  หญิง  42  ทัณฑสถาน/เรือนจำ
633279   ชาย  38  ทัณฑสถาน/เรือนจำ
633280  หญิง  38  ทัณฑสถาน/เรือนจำ
633281  หญิง  39  ทัณฑสถาน/เรือนจำ
633282  หญิง  36  ทัณฑสถาน/เรือนจำ
633283  หญิง  30  ทัณฑสถาน/เรือนจำ

# Missing Values

In [43]:
data_cases.describe()

                 No.
count  633284.000000
mean   316642.500000
std    182813.488274
min         1.000000
25%    158321.750000
50%    316642.500000
75%    474963.250000
max    633284.000000

## Missing Values

* NaN = Not a Number
* Null
* NA = Not Avalible

In [44]:
data_cases #ข้อมูลของเรา

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
633279  633280      2/8/2021  ...     กรุงเทพมหานคร               NaN
633280  633281      2/8/2021  ...     กรุงเทพมหานคร               NaN
633281  633282      2/8/2021  ...     กรุงเทพมหานคร               NaN
633282  633283      2/8/2021  ...     กรุงเทพมหานคร               NaN
633283  633284      2/8/2021  ...     กรุงเทพมหานคร               NaN

[633284 rows x 11 columns]

In [45]:
data_cases.isnull()

          No.  announce_date  ...  province_of_onset  district_of_onset
0       False          False  ...              False               True
1       False          False  ...              False               True
2       False          False  ...              False              False
3       False          False  ...              False               True
4       False          False  ...              False               True
...       ...            ...  ...                ...                ...
633279  False          False  ...              False               True
633280  False          False  ...              False               True
633281  False          False  ...              False               True
633282  False          False  ...              False               True
633283  False          False  ...              False               True

[633284 rows x 11 columns]

In [46]:
data_cases.isnull()

          No.  announce_date  ...  province_of_onset  district_of_onset
0       False          False  ...              False               True
1       False          False  ...              False               True
2       False          False  ...              False              False
3       False          False  ...              False               True
4       False          False  ...              False               True
...       ...            ...  ...                ...                ...
633279  False          False  ...              False               True
633280  False          False  ...              False               True
633281  False          False  ...              False               True
633282  False          False  ...              False               True
633283  False          False  ...              False               True

[633284 rows x 11 columns]

In [47]:
data_cases.isnull().any() #any สรุปข้อมูลเป็นรายคอลลัมม์ว่ามี missing ไหม

No.                      False
announce_date            False
Notified date             True
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

## Handling Misiing Value 1 (ลบค่า missing ออกไป) 


* ลบข้อมูลที่มี missing คือ ลบข้อมูลที่ผิดพลากออก
* ลบข้อมูลที่มี missing คือ เพิ่มข้อมูลเข้าไปไม่ให้มันว่าง

## Quiz 3 ให้ หาว่า การทำ dropna() ทำให้ข้อมูลหายไปกี่ % 


```
size before drop = 1000
size after drop = 10
we loss 99% of data
```

In [48]:
removed = data_cases.shape[0] - data_cases.dropna().shape[0]

print(f'size before drop = {data_cases.shape[0]}')
print(f'size after drop = {data_cases.dropna().shape[0]}')
print(f'we lost {100*(removed/data_cases.shape[0])}% of data')

size before drop = 633284
size after drop = 417373
we lost 34.093866259055964% of data

In [49]:
data_cases_nomissingAge = data_cases.dropna(subset=['age']) #ลบเฉพาะในที่ไม่มี age

## Quiz 3.1 ให้ หาว่า การทำ dropna() แบบเลือก drop เฉพาะ column ที่เราสนใจ (age) ทำให้ข้อมูลหายไปกี่ %

In [50]:
removed = data_cases_nomissingAge.shape[0] - data_cases.dropna().shape[0]
print(f'size before drop = {data_cases_nomissingAge.shape[0]}')
print(f'size after drop = {data_cases_nomissingAge.dropna().shape[0]}')
print(f'we lost {100*(removed/data_cases_nomissingAge.shape[0])}% of data')

size before drop = 576564
size after drop = 417373
we lost 27.61029131197924% of data

### Handling Misiing Value 2 (แทนค่าด้วย class ใหม่ (unknown))

In [51]:
data_cases

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
633279  633280      2/8/2021  ...     กรุงเทพมหานคร               NaN
633280  633281      2/8/2021  ...     กรุงเทพมหานคร               NaN
633281  633282      2/8/2021  ...     กรุงเทพมหานคร               NaN
633282  633283      2/8/2021  ...     กรุงเทพมหานคร               NaN
633283  633284      2/8/2021  ...     กรุงเทพมหานคร               NaN

[633284 rows x 11 columns]

In [52]:
data_cases[['risk']] = data_cases[['risk']].fillna('ไม่มีข้อมูล') #fillna เป็นการเติมค่า

In [53]:
set(data_cases['risk']) #set เหมือน set ทางคณิตศาสตร์

{' Samui plus',
 '2.สัมผัสผู้ติดเชื้อ',
 'ACF รองเมือง',
 'ACF สนามกีฬาธูปะเตมีย์',
 'ACF สนามกีฬาไทย-ญี่ปุ่น',
 'ACF สีลม',
 'ACF เคหะหลักสี่',
 'Cluster Icon siam',
 "Cluster Memory 90's กรุงเทพมหานคร",
 'Cluster New Jazz กรุงเทพมหานคร',
 'Cluster The Lounge Salaya',
 'Cluster คลองเตย',
 'Cluster งานมอเตอร์ โชว์',
 'Cluster จนท. สนามบินสุวรรณภูมิ',
 'Cluster จันทบุรี',
 'Cluster จันทบุรี (ชาวกินี )',
 'Cluster จันทบุรี (ชาวกินี)',
 'Cluster ชลบุรี',
 'Cluster ชลบุรี บริษัทไดกิ้น',
 'Cluster ชลบุรี โรงเบียร์ 90',
 'Cluster ตราด',
 'Cluster ตราด ',
 'Cluster ตลาดนนทบุรี',
 'Cluster ตลาดบางพลี',
 'Cluster ตลาดบางแค',
 'Cluster ตลาดพรพัฒน์',
 'Cluster ตลาดสี่มุมเมือง',
 'Cluster บริษัทศรีสวัสดิ์',
 'Cluster บางแค',
 'Cluster บ่อนพัทยา/ชลบุรี',
 'Cluster บ่อนเทพารักษ์',
 'Cluster บ่อนไก่อ่างทอง',
 'Cluster ปากช่อง',
 'Cluster ผับ Thonglor',
 'Cluster มหาสารคาม',
 'Cluster ระยอง',
 'Cluster สถานบันเทิงย่านทองหล่อ',
 'Cluster สมุทรปราการ (โรงงาน บริษัทเมทัล โปรดักส์)',
 'Cluster สมุทรปราการ GRP Hightech',
 'Cluster สมุทรปราการ ตลาดเคหะบางพลี',
 'Cluster สมุทรสาคร',
 'Cluster ห้างแสงทอง (สายล่าง)',
 'Cluster เครือคัสเซ่อร์พีคโฮลดิ้ง (CPG,CPH)',
 'Cluster โรงงาน Big Star',
 'Cluster โรงงาน QPP ประจวบฯ',
 'Cluster โรงงาน standard can',
 'Cluster โรงงานทำขนม บางขุนเทียน',
 'SHUI',
 'Sandbox',
 'State Quarantine',
 'cluster ชลบุรี\n(อยู่ระหว่างการสอบสวน)',
 'การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน',
 'คนต่างชาติเดินทางมาจากต่างประเทศ',
 'คนไทยมาจากพื้นที่เสี่ยง',
 'คนไทยเดินทางกลับจากต่างประเทศ',
 'คนไทยเดินทางมาจากต่างประเทศ',
 'ค้นหาเชิงรุก',
 'ตรวจก่อนทำหัตถการ',
 'ตรวจสุขภาพแรงงานต่างด้าว',
 'ตลาด',
 'ทัณฑสถาน/เรือนจำ',
 'บุคลากรด้านการแพทย์และสาธารณสุข',
 'ปอดอักเสบ (Pneumonia)',
 'ปอดอักเสบ Pneumonia',
 'ผับหัวหิน',
 'ผู้ติดเชื้อในประเทศ',
 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า AOQ',
 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า ASQ/ALQ',
 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า HQ/AHQ',
 'ผู้ที่เดินทางมาจากต่างประเทศ และเข้า OQ',
 'ผู้ป่วย PUI',
 'ผู้ป่วย กรุงเทพมหานคร',
 'ผู้เดินทางมาจากพื้นที่เสี่ยง กรุงเทพมหานคร.',
 'พิธีกรรมทางศาสนา',
 'พื้นที่เสียง',
 'มาจากพื้นที่เสียง จ.ปทุมธานี',
 'มาจากพื้นที่เสี่ยง',
 'มาจากพื้นที่เสี่ยง จ.ปทุมธานี',
 'รอประสาน',
 'ระบุไม่ได้',
 'ระหว่างการสอบสวนโรค',
 'ระหว่างสอบสวน',
 'รับจ้างขนของที่ตลาดท่ายาง',
 'ร้านอาหาร',
 'ศูนย์กักกัน ผู้ต้องกัก',
 'สถานที่ทำงาน',
 'สถานบันเทิง',
 'สน.วัดพระยาไกร',
 'สนามมวย',
 'สัมผัสผู้ติดเชื้อยืนยัน\n  อยู่ระหว่างสอบสวน',
 'สัมผัสผู้ติดเชื้อยืนยัน\nอยู่ระหว่างสอบสวน',
 'สัมผัสผู้ป่วยที่ติดโควิด',
 'สัมผัสผู้ป่วยยืนยัน',
 'สัมผัสผู้ป่วยยืนยัน \n  อยู่ระหว่างสอบสวน',
 'สัมผัสผู้ป่วยยืนยัน (ยังไม่สามารถระบุได้)',
 'สัมผัสผู้ป่วยยืนยัน ภายในครอบครัว/ชุมชน/เพื่อน',
 'สัมผัสผู้ป่วยยืนยัน อยู่ระหว่างสอบสวน',
 'สัมผัสผู้ป่วยยืนยันเพื่อนร่วมงาน',
 'สัมผัสผู้เดินทางจากต่างประเทศ',
 'สัมผัสสามีสะอาด เขตบ้าน (รพ.มหาชัย 2)',
 'สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้',
 'สัมผัสใกล้ชิดผู้ป่วยยันยันก่อนหน้า',
 'สัมผัสใกล้ชิดผู้ป่วยยืนยันก่อนหน้า',
 'สัมผัสในสถานพยาบาล',
 'อยู่ระหว่างการสอบสวน',
 'อยู่ระหว่างการสอบสวน\n',
 'อยู่ระหว่างสอบสวน',
 'อาชีพเสี่ยง',
 'อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงานใกล้ชิดสัมผัสชาวต่างชาติ เป็นต้น',
 'อื่น',
 'อื่น ๆ',
 'อื่นๆ',
 'เดินทางมาจากพื้นที่จังหวัดเสี่ยง',
 'เดินทางมาจากพื้นที่มีการระบาดของโรค',
 'เดินทางมาจากพื้นที่เสี่ยง จ.กรุงเทพฯ จอมทอง',
 'เดินทางมาจากพื้นที่เสี่ยงที่มีการระบาดของโรค',
 'แรงงานต่างด้าวตรวจก่อนขึ้นทะเบียน',
 'ไปยัง/มาจาก พื้นที่ระบาดกรุงเทพมหานคร.',
 'ไปยังพื้นที่ที่มีการระบาด',
 'ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว',
 'ไปสถานที่เสี่ยง เช่น ตลาด สถานที่ชุมชน',
 'ไปสถานที่แออัด เช่น งานแฟร์ คอนเสิร์ต',
 'ไปเที่ยวสถานบันเทิงในอุบลที่พบการระบาดของโรค Ubar',
 'ไปแหล่งชุมชน/สถานที่คนหนาแน่น',
 'ไม่มีข้อมูล'}

### Handling Misiing Value 3 (แทนค่าด้วย class ใหม่ (ค่าที่เหมาะสม))

In [54]:
set(data_cases['Unit']) #คิดค่าที่เหมาะสมว่าอันไหนไม่กรอกให้แทนเป็นปี

{' วัน', ' เดือน', nan, 'ปี', 'วัน', 'เดือน'}

In [55]:
data_cases[['Unit']] = data_cases[['Unit']].fillna('ปี?') #เติมค่าลงไปเป็น ปี?

In [56]:
data_cases.isnull().any() #มาดูว่าเราจำกัดไปถึงไหนแล้ว

No.                      False
announce_date            False
Notified date             True
sex                       True
age                       True
Unit                     False
nationality               True
province_of_isolation     True
risk                     False
province_of_onset         True
district_of_onset         True
dtype: bool

### Handling Misiing Value 4 (แทนค่าด้วย ค่ากลาง)

*  ถ้าเป็นตัวเลข ใช้ ได้หมดเลยในค่ากลางแต่นิยมใช้ค่ามีนมากกว่า

In [57]:
data_cases[['age']].mean() #ดูค่ามีน

Series([], dtype: float64)

In [58]:
data_cases[['age']].dropna().mean() #ดูค่ามีนเหมือนกันแต่ใช้คำสั่ง dropna ด้วย

Series([], dtype: float64)

In [59]:
#หา mean 
avg_age = data_cases[['age']].mean() #ใส่คอลัมม์ที่เราสนใจ #axis หาแกนว่าหาแกนไหน 
# เติม mean ลงไปแทนค่า Missing
data_cases[['age']] = data_cases[['age']].fillna(avg_age)

In [60]:
data_cases.isnull().any() #มาดูว่าเราจำกัดไปถึงไหนแล้ว

No.                      False
announce_date            False
Notified date             True
sex                       True
age                       True
Unit                     False
nationality               True
province_of_isolation     True
risk                     False
province_of_onset         True
district_of_onset         True
dtype: bool

In [61]:
data_cases[['age']].mean() #ดูค่ามีนของฟังก์ชั่น age

Series([], dtype: float64)

### ถ้าเป็น morminal (ตัวหนังสือ) จะใช้ฐานนิยม

In [62]:
data_cases[['nationality']].mode().iloc[0,0] #ดูว่าฐานนิยมสัฐชาติไหนเยอะ

'Thailand'

In [63]:
#หา mode
mode_nation  = data_cases[['nationality']].mode().iloc[0,0] #ใส่คอลัมม์ที่เราสนใจ #axis หาแกนว่าหาแกนไหน 
# เติม mode ลงไปแทนค่า Missing
data_cases[['nationality']] = data_cases[['nationality']].fillna(mode_nation)

In [64]:
data_cases.isnull().any() #ดูว่ามีค่าว่างไหม

No.                      False
announce_date            False
Notified date             True
sex                       True
age                       True
Unit                     False
nationality              False
province_of_isolation     True
risk                     False
province_of_onset         True
district_of_onset         True
dtype: bool

## เติมด้วยช่องว่าง column ใกล้เคียง

### ถ้าเป็น ordinal เติม Median

In [65]:
data_cases.head(20) # ดูข้อมูลจากด้านบน 20 ข้อมูล

    No. announce_date  ... province_of_onset district_of_onset
0     1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1     2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2     3     22/1/2020  ...            นครปฐม             เมือง
3     4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4     5     24/1/2020  ...     กรุงเทพมหานคร               NaN
5     6     25/1/2020  ...     กรุงเทพมหานคร               NaN
6     7     26/1/2020  ...     กรุงเทพมหานคร               NaN
7     8     26/1/2020  ...   ประจวบคีรีขันธ์            หัวหิน
8     9     28/1/2020  ...     กรุงเทพมหานคร               NaN
9    10     28/1/2020  ...           นนทบุรี               NaN
10   11     28/1/2020  ...     กรุงเทพมหานคร               NaN
11   12     28/1/2020  ...     กรุงเทพมหานคร               NaN
12   13     28/1/2020  ...     กรุงเทพมหานคร               NaN
13   14     28/1/2020  ...            ภูเก็ต             เมือง
14   15     31/1/2020  ...     กรุงเทพมหานคร               NaN
15   16     31/1/2020  ...     กรุงเทพมหานคร               NaN
16   17     31/1/2020  ...         เชียงใหม่             หางดง
17   18     31/1/2020  ...     กรุงเทพมหานคร               NaN
18   19     31/1/2020  ...     กรุงเทพมหานคร               NaN
19   20      4/2/2020  ...     กรุงเทพมหานคร               NaN

[20 rows x 11 columns]

### Handling Misiing Value 5 (แทนค่าด้วย ค่ากลางของ sample ใน class เดียวกัน)

In [66]:
data_cases2 = pd.read_csv(os.path.join(path,'confirmed-cases.csv')) #โหลดข้อมูลมาใหม่
data_cases2

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
633279  633280      2/8/2021  ...     กรุงเทพมหานคร               NaN
633280  633281      2/8/2021  ...     กรุงเทพมหานคร               NaN
633281  633282      2/8/2021  ...     กรุงเทพมหานคร               NaN
633282  633283      2/8/2021  ...     กรุงเทพมหานคร               NaN
633283  633284      2/8/2021  ...     กรุงเทพมหานคร               NaN

[633284 rows x 11 columns]

## Select data by values [PD] คำสั่งแพนด้า

*   การเลือก record สามารถเลือกโดยใช้ ```list ของ boolen ``` (ความยาวของ list เท่ากับ จำนวน record)

``` ชื่อตาราง [list ของ boolen] ```

#### ขั้นตอนสร้าง list ของ boolen

In [67]:
data_cases2['risk'] == 'ทัณฑสถาน/เรือนจำ' #False ไม่เอา #True เอา

0         False
1         False
2         False
3         False
4         False
          ...
633279     True
633280     True
633281     True
633282     True
633283     True
Name: risk, Length: 633284, dtype: bool

#### นำ list ของ boolen มาเลือกในตาราง

In [68]:
data_cases2[data_cases2['risk'] == 'ทัณฑสถาน/เรือนจำ']

           No. announce_date  ... province_of_onset district_of_onset
77770    77771      7/5/2021  ...          ศรีสะเกษ     เมืองศรีสะเกษ
90959    90960     13/5/2021  ...     กรุงเทพมหานคร               NaN
90960    90961     13/5/2021  ...     กรุงเทพมหานคร               NaN
90961    90962     13/5/2021  ...     กรุงเทพมหานคร               NaN
90962    90963     13/5/2021  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
633279  633280      2/8/2021  ...     กรุงเทพมหานคร               NaN
633280  633281      2/8/2021  ...     กรุงเทพมหานคร               NaN
633281  633282      2/8/2021  ...     กรุงเทพมหานคร               NaN
633282  633283      2/8/2021  ...     กรุงเทพมหานคร               NaN
633283  633284      2/8/2021  ...     กรุงเทพมหานคร               NaN

[47976 rows x 11 columns]

#### สร้าง list ของ boolen

In [69]:
data_cases2['age'] > 70 #เรียกว่าคอลัมม์ age ที่มีอายุมากกว่า 70

TypeError: ignored

#### เลือก

In [ ]:
data_cases2[data_cases2['age'] > 70] # มาดูเป็นข้อมูล

In [ ]:
blist_age70up = data_cases2['age'] > 70 #อายุมากกว่า 70

In [ ]:
blist_famale = data_cases2['sex'] == 'หญิง' #แล้วต้องเป็นผู้หญิง
blist_famale

#### เราใช้ & (and) และ | (or) ในการรวม list ของ boolen

In [ ]:
blist_age70up & blist_famale #อยากได้ทั้ง 2 เงื่อนไขรวมกันใช้เครื่องหมาย &

In [ ]:
data_cases2[blist_age70up & blist_famale] #ดูข้อมูลทั้งสอง 2 เงื่อนไขที่เป็นผู้หญิงแล้วอายุมากกว่า 70 ปีขึ้นไป

### Quiz 4 + การบ้าน

*   หา record ต่อไปนี้
1. record ที่ กักตัวที่ ขอนแก่น
2.  records ที่กักตัวที่ ขอนแก่น + โคราช + อุดร
3. records ที่เป็นผู้หญิงที่พบเชื้อที่ กทม
4. records ที่เป็นผู้ชาย อายุ 18-22 ปีที่กักตัวที่เชียงใหม่
5. หาอายุเฉลี่ยของคนที่พบเชื้อที่ขอนแก่น

In [ ]:
data_cases2['province_of_isolation'] == 'ขอนแก่น'

In [ ]:
data_cases2[data_cases2['province_of_isolation'] == 'ขอนแก่น']

In [ ]:
data_cases2[(data_cases2['province_of_isolation']=='ขอนแก่น') | 
            (data_cases2['province_of_isolation']=='นครราชสีมา') | 
            (data_cases2['province_of_isolation']=='อุดรธานี')]

In [ ]:
pro_bkk = data_cases2['province_of_onset'] == 'กรุงเทพมหานคร'
pro_bkk

In [ ]:
pro_female = data_cases2['sex'] == 'หญิง'
pro_female

In [ ]:
data_cases2[pro_bkk & pro_female]

In [ ]:
data_cases2['sex'] == 'ชาย'
list_male = data_cases2['sex'] == 'ชาย'
data_cases2['age'] >= 18
data_cases2['age'] <= 22
list_age18= data_cases2['age'] >= 18
list_age22= data_cases2['age'] <= 22
data_cases2['province_of_onset'] == 'เชียงใหม่'
list_cm = data_cases2['province_of_onset'] == 'เชียงใหม่'
data_cases2[list_male & list_age18 & list_age22 & list_cm]

In [ ]:
data_cases2['province_of_onset'] == 'ขอนแก่น'
list_onsetkk = data_cases2['province_of_onset'] == 'ขอนแก่น'
khonkaen_onset = data_cases2[list_onsetkk]
khonkaen_onset